body {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
    header {
        background-color: #04869a;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
nav a{
    color: rgb(249, 247, 247);
    text-decoration: none;
    margin-left: 30px;
}
nav a:hover{ color: goldenrod;
}
.hero{
    text-align: center;
    padding: 100px 20px;
    color: white;
    background-image: url("student1image.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.logo {
    width: 150px;
    height: auto;
    margin-right: 15px;
}
.logo-title{
    display: flex;
    align-items: center;
}
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: gold;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}
.btn:hover{
    background-color: white;
    
}
.features {
    padding: 60px 30px;
    text-align: center;
    background: gold;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
    flex-wrap: wrap;
    
}
.card {
    width: 250px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: 0.3s;
}
.card:hover {
    transform: translateY(-8px);
}
nav a{
    color: #f4f7fa;
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
    transition: 0.3s;
}
nav a:hover{
    color: gold;
}
.application {
    padding: 60px 20px 20px 20px;
    text-align: center;
    background: #023;
    color: white;
}
.application h2{
    margin-bottom: 30px;
}
.application input,
.application select{
    width: 70%;
    padding: 12px;
    margin-bottom: 15px;
    border:1px solid #ccc;
    border-radius: 8px;
}
.application button{
    background: #023e8a;
    display: block;
    margin: 20px auto;
    padding: 12px 25px;
    border-radius: 8px;
    color: #f4f7fa;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.application button:hover{
    background: orange;
    transform: translateX(-8px);
}
.application form{
   max-width:700px ;
   margin: auto;
}
footer{
    background: #003366;
    color: white;
    text-align: center;
    padding: 100px;
    margin-top: 60px;
    margin: 0;
}
.footer p{
    margin: 0;
}
.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background: #003366;
    min-width: 220px;
    box-shadow: 0 5px 15px black;
    border-radius: 8px;
}

.dropdown-content a{
    display: block;
    color:white;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown-content a:hover{
    background: #f2f2f2;
    top: 45px;
}

.dropdown:hover .dropdown-content{
    display: block;
}
.login-btn{
    background: gold;
    color: black;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    transition: 0.3s;
}
.login-btn:hover {
    background: white;
    color: #003366;
}
.search-box{
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 150px;
    margin-left: 20px;
}
.search-btn {
    padding: 8px 12px;
    background: gold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
}
.search-btn:hover {
    background: #f4f7fa;
}
.search-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}
*{
    outline: 1px solid red;
}
